* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  color: #111;
  font-family: sans-serif, arial;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.container form {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h2 {
  color: rgb(54, 148, 255);
}

.container input {
  height: 50px;
  width: 400px;
  font-size: 1rem;
  margin-top: 20px;
  margin-right: 15px;
  border-radius: 10px;
  outline: none;
  padding: 10px 15px;
  border: none;
  background: #f4f4f4;
}

.container button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background: rgb(54, 148, 255);
  color: #fff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.gallery img {
}

.infinite-scroll-component h4{
  text-align: center;
  margin-top: 20px;
}
